* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.margin-all {
  margin: 10px;
}
.flex-parent {
  display: flex;
  flex-direction: column;
}
.pokeBorder {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
  background-color: rgba(144, 238, 144, 0.631);
  border-radius: 6px;
  padding-bottom: 10px;
}
.pokeBorder .sprite {
  border: solid 2px black;
  border-radius: 6px;
  margin: 0 2.5% 2.5% 2.5%;
  background-color: rgba(173, 216, 230, 0.7);
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 10px 15px;
}

.name {
  font-weight: bold;
  /* background-color: lightcoral; */
}

.type {
  font-weight: bold;
  font-size: 20px;
  /* background-color: lightseagreen; */
}

.description {
  border: solid 2px black;
  border-radius: 6px;
  margin: 0 2.5% 2.5% 2.5%;
  padding: 2.5% 2.5%;
  background-color: bisque;
  height: 100px;
  text-align: left;
}

.moves {
  font-weight: bold;
  text-align: left;
  text-transform: capitalize;
  margin: 0 2.5% 0 2.5%;
  padding: 1.5% 4.5%;
  columns: 2;
  height: 6em;
  justify-content: center;
  background-color: burlywood;
  border: solid 2px black;
  border-radius: 6px;
}

.moves p {
  padding: 10px;
}

.button {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 32px;
}
.pokeID {
  text-align: center;
  border-radius: 10px;
  border: solid 3px black;
  box-shadow: 2px 2px 5px #0000005b;
  background-color: white;
  min-width: 50px;
}

button {
  font-weight: bold;
  border-radius: 10px;
  border: solid 3px black;
  background-color: white;
  box-shadow: 2px 2px 5px #0000005b;
}
button:hover {
  background: #fafafa86;
  transition: all 0.2s ease;
  cursor: pointer;
}
button:active {
  transform: scale(0.9);
}

@media screen and (min-width: 1600px) {
  /* body {
    background-color: lightcyan;
  } */

  .flex-parent {
    margin: 1.5% 39%;
  }

  .moves {
    font-size: 14px;
    padding: 0;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  /* body {
    background-color: lightcyan;
  } */

  .flex-parent {
    margin: 1.5% 31%;
  }

  .moves {
    font-size: 14px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* body {
    background-color: lightslategray;
  } */

  .flex-parent {
    margin: 1.5% 30%;
  }
  .moves {
    padding: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* body {
    background-color: lightpink;
  } */

  .flex-parent {
    margin: 1.5% 26%;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  /* body {
    background-color: lightgrey;
  } */

  .flex-parent {
    margin: 2.5% 18%;
  }

  .moves {
    font-size: 11px;
    padding: 0;
  }
  .button {
    margin: 0 5%;
  }
}

@media screen and (max-width: 480px) and (min-width: 306px) {
  /* body{
    background-color:lightyellow;
  } */
  .flex-parent {
    margin: 2.5% 14%;
  }
  .moves {
    font-size: 11px;
    padding: 0;
  }
  .type {
    font-size: 14px;
  }
  .name {
    font-size: 14px;
  }
}

@media screen and (max-width: 306px) {
  .flex-parent {
    margin: 2.5% 10%;
  }
  .moves {
    font-size: 11px;
    height: auto;
  }
  .type {
    font-size: 12px;
  }
  .name {
    font-size: 12px;
  }
}
